<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;
        document.querySelectorAll("nav a").forEach((link) => {
          if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
          }
        });
      });
    </script>
  </head>
  <body>
    <header class="header">
      <nav>
        <a href="/" class="nav-link">Home</a>
        <a href="/docs/" class="nav-link">Docs</a>
        <a href="/about/" class="nav-link">About</a>
        <a href="/faq/" class="nav-link">FAQ</a>
      </nav>
    </header>

    <main class="main">{{ block "main" . }}{{ end }}</main>

    <footer class="footer">
      <p>&copy; 2025 guojing.io</p>
    </footer>
  </body>
</html>
